
.bottom_button_container {
    background-color: #5fb523;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4% 0;
    display: flex;
    justify-content: center;
  }
  
  .bottom_button {
    background-color: #5fb523;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 2px;
    display: flex;
    align-self: center;
    margin: 0 3%;
    width: 90%;
  }
  
  .category_container {
    margin: 10px;
    background-color: #fff;
    display: flex;
  }
  
  .icon_container {
    margin: 8px;
  }
  
  .category_data_align {
    width: 100%;
  }
  
  .category_data_container {
    display: flex;
    justify-content: space-between;
    margin: 0 13px;
    padding: 13px 0;
    font-size: 0.9rem;
    border-bottom: 1px solid #f5f3f3;
  }
  
  .category_data_date {
    padding: 9px;
    font-size: 0.85rem;
  }
  
  .category_show_container {
    display: flex;
    flex-direction: column;
    margin: 9px;
    background-color: #fff;
    height: 100vh;
  }
  
  .category_show {
    padding: 9px;
  }
  
  .disp_col {
    display: flex;
    flex-direction: column;
  }
  
  .transaction_disp {
    display: flex;
    justify-content: space-between;
  }
  
  h3 {
    font-size: 0.85rem;
  }
  
  .trans_header {
    align-items: center;
    justify-content: flex-start;
    gap: 9px;
    font-size: 0.9rem;
  }
  
  .bottom_line {
    padding-bottom: 9px;
    border-bottom: 1px solid #f5f3f3;
  }
  
  .bg {
    background-color: #fff;
  }
  
  .input_container {
    justify-content: flex-start;
    gap: 15px;
  }
  